@import "gruvbox.css";

:root {
	--bg_h: #1d2021;
	--bg: #282828;
	--bg_s: #32302f;
	--bg1: #3c3836;
	--bg2: #504945;
	--bg3: #665c54;
	--bg4: #7c6f64;

	--fg: #fbf1c7;
	--fg1: #ebdbb2;
	--fg2: #d5c4a1;
	--fg3: #bdae93;
	--fg4: #a89984;

	--red: #fb4934;
	--green: #b8bb26;
	--yellow: #fabd2f;
	--blue: #83a598;
	--purple: #d3869b;
	--aqua: #8ec07c;
	--gray: #928374;
	--orange: #fe8019;

	--red-dim: #cc2412;
	--green-dim: #98971a;
	--yellow-dim: #d79921;
	--blue-dim: #458588;
	--purple-dim: #b16286;
	--aqua-dim: #689d6a;
	--gray-dim: #a89984;
	--orange-dim: #d65d0e;
}

* {
	margin: 0;
	padding: 0;

}

html {
	/* font-family: 'Cascadia Mono', monospace; */
	/* font-family: 'JetBrains Mono', monospace; */
	/* font-family: monospace; */
	font-family: monospace, monospace;
}

::selection {
	background: var(--purple);
}

body {
	background: var(--bg);
	background-size: 50%;
	color: var(--fg1);
	margin: 5% 20%;
}

@keyframes fade {
	from {
		opacity: 0.5;
		transform: translateX(-40%) rotateY(0.2turn);
	}

	to {
		opacity: 1;
		transform: translateX(0%) rotateY(0);

	}
}

header {
	margin: 3%;
	padding: 1em;
	text-align: center;
	border: 2px solid aliceblue;
	border-radius: 10px;

}

#randquote {
	font-size: 0.8em;
}

hr {
	border-style: dashed solid;
	margin-top: 5px;
	border-width: 1px;
	color: var(--fg1);
}


div {
	margin: 10px;
	margin-top: 2rem;
}

body *:nth-child(n+1) {

	animation: fade 0.4s ease;
	animation-fill-mode: both;
}


small {
	font-size: smaller;
}

p {
	padding-left: 2rem;
	margin-bottom: 1rem;
}

a,
a:active,
a:visited {
	color: var(--purple);
	text-decoration: none;
}



a.active {
	color: var(--green);
}

a {
	transition: all 0.1s ease-in-out;
}

a:hover {
	color: #fff;
	font-size: 1.1em;

}


ul {
	list-style-type: none;
	padding-left: 4rem;
	margin-bottom: 1rem;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

pre.highlight {
	overflow: scroll;
}
