---
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{page.title}} | Yogansh's Webpage</title>
	<meta name="description" content="I am Yogansh Sharma">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/style.css" rel="stylesheet">
</head>

<body>
	<header>

		<h1>Yogansh Sharma</h1>
		<blockquote id = "randquote">
		</blockquote>
		<hr/>

		{% include navigation.html %}
	</header>
	{{ content }}
	<footer>

	</footer>
	<script>
		fetch("assets/quotes.json")
		  .then(response => response.json())
		  .then(quotes => {
			const quote = quotes[ Math.round((quotes.length-1)*Math.random()) ];
			if (quote!=null) {
				let author = "";
				if (quote.author!=null) {
					author = " --" + quote.author
				}
				document.getElementById("randquote").innerText = "\"" + quote.content + "\"" + author;
			}
		  })
	</script>

</body>

</html>
